html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css')


  body
    //- .container
    //-   .row
    //-     .col-md-6
    //-       h1 About Us
    //-       p Welcome to our company!

    //-     .col-md-6
    //-       img(src='company-logo.png', alt='Company Logo')
    //-       .about-section
  h1 E-kisan
  p
    b E-Kisan is a web-based application developed for Farmers. E-Kisan are initiatives aimed at supporting and empowering farmers to improve their livelihoods, increase food production, and contribute to sustainable agriculture. E-Kisan focus on providing farmers with the necessary resources, tools, and knowledge to improve their farming practices, increase their crop yields, and access markets.
  p
    | E -Kisan is provide training and education programs to farmers on sustainable agricultural practices, including water conservation, soil health, pest management, and crop diversification. These programs also often include training in business management and marketing to help farmers access new markets and increase their income. Another feature is to provide farmers with access to financial services such as microfinance and credit facilities to help them invest in their farms and expand their operations. This can include providing low-interest loans, insurance products, and savings programs to help farmers manage risk and build financial resilience. Ultimately, E-Kisan projects aim to create more sustainable and resilient farming communities by empowering farmers with the knowledge, resources, and tools they need to succeed. These projects not only benefit individual farmers but also have the potential to contribute to broader food security, economic development, and environmental sustainability goals.

h2(style="text-align:center") Our Services
.row
  .column
    .card
      img(src="kandam.jpg", alt="Jibin", style="width:100%")
      .container
        h2 Jane Doe
        p.title CEO & Founder
        p Some text that describes me lorem ipsum ipsum lorem.
        p jane@example.com
        p
          button.button Contact
  .column
    .card
      img(src='images/kisan photos/banana plantation.jpg', alt="Mike", style="width:100%")
      .container
        h2 Mike Ross
        p.title Art Director
        p Some text that describes me lorem ipsum ipsum lorem.
        p mike@example.com
        p
          button.button Contact
  .column
    .card
      img(src="/w3images/team3.jpg", alt="John", style="width:100%")
      .container
        h2 John Doe
        p.title Designer
        p Some text that describes me lorem ipsum ipsum lorem.
        p john@example.com
        p
          button.button Contact

