extends layout

block content
  .notifications.row
    .col-sm-12
      .nots
        if(nt.length != 0)
          marquee 
            span Latest notifications: 
            each x in nt
                span= x.Notification_Content
                span 
                  a(href=x.link target="_blank") Click here
                span   |  
  section#hero
      .hero-container
        #heroCarousel.carousel.slide.carousel-fade(data-bs-interval='5000' data-bs-ride='carousel')
          ol#hero-carousel-indicators.carousel-indicators
          .carousel-inner(role='listbox')
            // Slide 1
            .carousel-item.active(style='background-image: url(images/kisan_photos/main-bg.jpg)')
              .carousel-container
                .carousel-content
                  h2.animate__animated.animate__fadeInDown
                    | Welcome to 
                    span eKisan
                  p.animate__animated.animate__fadeInUp
                    | Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                  a.btn-get-started.animate__animated.animate__fadeInUp(href='') Read More
  - if(req && req.session && (req.session.ut == 1 || req.session.ut == 2))
    section#featured.featured
      .container
        h2.home-sub-head Farming Equipments
        .row
          .col-lg-3
            .icon-box
              iconify-icon(icon="game-icons:poison-bottle" width="66" height="67")
              h3
                a(href='') Pestisides
              p
                | Pesticides kill, repel, or control forms of animal and plant life considered to damage or be a nuisance in agriculture and domestic life.
          .col-lg-3.mt-4.mt-lg-0
            .icon-box
              
              iconify-icon(icon="fa6-solid:seedling" width="64" height="64")
              h3
                a(href='') Seeds
              p
                |  Seed refers to the fertilized, matured ovule that contains an embryonic plant, stored material and a protective coat or coats.
          .col-lg-3.mt-4.mt-lg-0
            .icon-box
              iconify-icon(icon="game-icons:fertilizer-bag" width="64" height="64")
              h3
                a(href='') Fertilizer
              p
                | fertilizer, natural or artificial substance containing the chemical elements that improve growth and productiveness of plants.
          .col-lg-3.mt-4.mt-lg-0
            .icon-box
              iconify-icon(icon="mdi:plant-outline" width="64" height="64")
              h3
                a(href='') Crops
              p
                | A crop is a plant or plant product that can be grown and harvested for profit or subsistence.
    // End Featured Section
  // ======= Services Section =======
  section#services.services
    .container
      h2.home-sub-head Product Categories
      .row
        .col-lg-4.col-md-6.d-flex.align-items-stretch
          .icon-box
            .icon
              iconify-icon(icon="ph:carrot-fill" width="64" height="64")
            h4
              a(href='/crop?i=v') Vegitables
            p Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0
          .icon-box
            .icon
              iconify-icon(icon="icon-park-solid:banana" width="64" height="64")
            h4
              a(href='/crop?i=f') Fruits
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0
          .icon-box
            .icon
              iconify-icon(icon="lucide:wheat" width="64" height="64")
            h4
              a(href='/crop?i=c') Cereals
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
  // End Services Section
  // End #main
  
  // End Footer
  a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short
  // Vendor JS Files
