doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title Eterna Bootstrap Template - Index
    meta(content='' name='description')
    meta(content='' name='keywords')
    // Favicons
    link(href='assets/img/favicon.png' rel='icon')
    link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
    // Vendor CSS Files
    link(href='vendor/animate.css/animate.min.css' rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    link(href='vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
    link(href='vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
    link(href='vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
    // Template Main CSS File
    link(href='stylesheets/style.css' rel='stylesheet')
    script(src='js/jquery.min.js')
    //
      =======================================================
      * Template Name: Eterna
      * Updated: May 30 2023 with Bootstrap v5.3.0
      * Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ========================================================
  body
    // ======= Top Bar =======
    section#topbar.d-flex.align-items-center
      .container.d-flex.justify-content-center.justify-content-md-between
        .contact-info.d-flex.align-items-center
          i.bi.bi-envelope.d-flex.align-items-center
            a(href='mailto:contact@example.com') ekisan@gmail.com
          i.bi.bi-phone.d-flex.align-items-center.ms-4
            span +91 9747 040589
        - if(req && req.session && req.session.uid)
          .pull-left
            p.un= req.session.un
    // ======= Header =======
    header#header.d-flex.align-items-center
      .container.d-flex.justify-content-between.align-items-center
        .logo
          h1
            a(href='index.html') e-Kisan
          // Uncomment below if you prefer to use an image logo
          // <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        nav#navbar.navbar
          ul.ul-nav
            li.li-home
              a.active(href='/') Home
            li.li-about
              a(href='/about') About
            - if(req && req.session && req.session.ut == 1)
              li.li-notification
                a(href='/notification') Notifications
              li.li-user
                a(href='/users') Users
            - if(req && req.session && (req.session.ut == 1 || req.session.ut == 2))
              li.li-fertilizer
                a(href='/fertilicer') Fertilizer
              li.li-pesticide
                a(href='/pesticide') Pesticides
              li.li-seed
                a(href='/seed') Seeds
              li.li-tool
                a(href='/tool') Tools
              li.li-rent
                a(href='/rent') Rent
            li.dropdown.li-crop
              a(href='#')
                span Product
                i.bi.bi-chevron-down
              ul
                li
                  a(href='/crop?i=v') Vegitables
                li
                  a(href='/crop?i=f') Fruits
                li
                  a(href='/crop?i=c') Cereal

            - if(req && req.session && req.session.uid)
              li.li-cart
                a(href='/cart') Cart
              li.li-order
                a(href='/order') Orders
              li.li-profile
                a(href='/profile') Profile
              li.li-logout
                a(href='/logout') Logout
            - else
              li.dropdown.li-register
                a(href='#')
                  span Register
                  i.bi.bi-chevron-down
                ul
                  li
                    a(href='/registration?u=f') Farmer
                  li
                    a(href='/registration?u=p') Public
                li.li-pesticides
                  a(data-bs-toggle='modal' data-bs-target='#exampleModal') Login
          i.bi.bi-list.mobile-nav-toggle
        // .navbar
    main#main
      block content
      script(src='vendor/purecounter/purecounter_vanilla.js')
      script(src='vendor/bootstrap/js/bootstrap.min.js')
      script(src='vendor/glightbox/js/glightbox.min.js')
      script(src='vendor/isotope-layout/isotope.pkgd.min.js')
      script(src='vendor/swiper/swiper-bundle.min.js')
      script(src='vendor/waypoints/noframework.waypoints.js')
      script(src='vendor/php-email-form/validate.js')
      script(src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js")
      // Template Main JS File
      script(src='js/script.js')
      script(src='js/main.js')
    // ======= Footer ======= 
  footer#footer
    .footer-top
      .container
        .row
          .col-md-6.footer-contact
            h4 Contact Us
            p
              | Col Farming socity 
              br
              |               Kodannur, Thrissur - 680563
              br
              |               Kerala
              br
              br
              strong Phone:
              |  +91 9747 040589
              br
              strong Email:
              |  ekisan@gmail.com
              br
          .col-md-6.footer-info
            h3 About E-kisan
            p
              | A community of passionate farmers and agriculture enthusiasts working together to promote sustainable farming practices and agricultural innovation.
  #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Login
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          .login-form
            form(action="/login" method="post")
              .field-group
                input.form-control(type="text", name="uname" placeholder="Email id")
              .field-group
                input.form-control(type="password", name="pswd" placeholder="Password")
              .field-group
                input.btn.btn-primary(type="submit", name="login" value="Login")
                input.btn.btn-primary(type="reset" value="Reset")