doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    title=newweb
    link(rel="stylesheet" href="stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  body 
    div.banner
      div.navbar
        img(src="LOGO5.png" width="300" class="logo")
        ul
          li
            a(href="index.html") Home
          li
            a(href="/about") About Us
          li
            a(href="#") Services
          li
            a(href="gallery.html") Gallery
          li
            a(href="/login") Login
          li
            a(href="/registration")  registration
      div.content
        div
          button(type="button") Login
    block content