doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Notification Form
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    .container
      h2 Notification Form
      form(method="post", action="")
        .form-group
          label(for="notification-id") Notification ID:
          input(type="text", class="form-control", name="notification_id")
        .form-group
          label(for="notification-content") Notification Content:
          textarea(class="form-control", name="notification_content", rows="3")
        button(type="submit", class="btn btn-primary", value="submit") Submit

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
