extends layout
block content
  script. 
        $('.ul-nav .active').removeClass('active');
        $('.ul-nav .li-cart a').addClass('active');
  .container
    .product-card
      .row
        .col-sm-12
          p Amount to be paid: #{data}
          form(method="POST" action="/pay" enctype="multipart/form-data")
            .form-group
              input(type="number", class="form-control number", name="cnum" placeholder="Card Number")
            .form-group
              input(type="text", class="form-control", name="cname" placeholder="Name on Card")
            .form-group
              input(type="text", class="form-control exp-date", name="cexp" placeholder="Expiry Date")
            .form-group
              input(type="number", class="form-control cvv", name="cvv" placeholder="CVV")
            button.btn.btn-primary.btn-submit-pay(type="submit",value="submit") Pay
            button.btn.btn-primary(type="reset",value="submit") Reset
