extends layout
block content
  .container
    - if(req.session.ut == 1)
        button.btn.btn-warning(type="button" data-bs-toggle='modal' data-bs-target='#toolModal') Add new
    .row
      each tl in data
        .col-md-4
          .product-card
            img(src='/uploads/' + tl.Tool_image, alt='Product 1', class='product-image' style="width: 100%;")
            h4 Product 1
            p Description of Product 1
            - if(req.session.ut == 1)
              a.btn.btn-primary.edit-button(href='edittool?id=' + tl.Tool_ID) Edit
    #toolModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Add Rertilizer
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form(method="POST" action="" enctype="multipart/form-data")
              .form-group
                label(for="tool_name") Tool Name:
                input(type="text", class="form-control", name="tool_name")
              .form-group
                label(for="tool_image") Tool Image:
                input(type="file", class="form-control-file", name="tool_image")
              .form-group
                label(for="manufacturing_date") Manufacturing Date:
                input(type="date", class="form-control", name="manufacturing_date")
              .form-group
                label(for="licence_number") License Number:
                input(type="text", class="form-control", name ="licence_number")
              .form-group
                label(for="number_of_tools") Number of Tools:
                input(type="number", class="form-control", name="number_of_tools")
              button.btn.btn-primary(type="submit",value="submit") Submit
